.dockerignore
**/.git
**/.gitignore
Dockerfile
docker-compose.yml
node_modules
npm-debug.log*
idea
*.log
coverage
dist
lib
.nyc_output
*.iml
.DS_Store
.build-tasksrc
*.code-workspace
/.vscode
README.md
renovate.json
.terraform
*.tfstate*
.tool-versions
venv
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class